
.bcolor{
    background-color: rgba(13, 12, 15, 0.247)
}
main{
    width: 100%;
}
.logo:hover{
    cursor: -moz-grabbing;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
